<div class="jumbotron jumbotron-fluid">
    <div class="container" #scrollMe>
      <h1 i18n>Kalkulačka</h1>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label i18n> Adresa
            </mat-label>
            <input type="text"
              id="suggestBox"
              i18n-placeholder
              placeholder="Zadejte ulici, město, číslo popisné..."
              aria-label="String"
              matInput>
          </mat-form-field>
          
        </div>
        <div class="col-8">
          <span class="h5" i18n>Vyberte místo stavby kliknutím do mapy nebo zadejte adresu do našeptávače.</span>
        </div>
        <div class="col-12">
          <div style="width:100%;height: 300px" #mapyCZ >
          Mapy.cz
          </div>
        </div>
      </div>
    <!--
      <form [formGroup]="kalkulackaGroup" #ngForm="ngForm" *ngIf="showForm" [@inAnimation] (submit)="onSubmit()">
        <div formGroupName="building">
          <div class="row align-items-center">
            <div class="col-12">
              <h2 i18n>Bezprostřední okolí budovy</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. 
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q1"></mat-slider>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="kalkulackaGroup.get('building.q1')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom(15)">
            <div class="col-12">
              <h2 i18n>Podíl zastavěného území</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q2"></mat-slider>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="kalkulackaGroup.get('building.q2')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom()">
            <div class="col-12">
              <h2 i18n>Údolí řeky</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q3"></mat-slider>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="kalkulackaGroup.get('building.q3')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom()">
            <div class="col-12">
              <h2 i18n>Vzdálenost k protější budově</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q4"></mat-slider>
            </div>
          </div>
        </div>
        <div formGroupName="environment">
          <div class="row align-items-center" *ngIf="kalkulackaGroup.get('building.q4')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom()">
            <div class="col-12">
              <h2 i18n>Celková plocha skleněných ploch</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q1"></mat-slider>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="kalkulackaGroup.get('environment.q1')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom()">
            <div class="col-12">
              <h2 i18n>Podíl skleněných ploch na fasádě</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q2"></mat-slider>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="kalkulackaGroup.get('environment.q2')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom()">
            <div class="col-12">
              <h2 i18n>Nepřerušená velikost skleněných ploch</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum. Vivamus condimentum eros vel purus fringilla gravida. Suspendisse potenti. Praesent non metus consectetur, suscipit odio at, faucibus nisl.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q3"></mat-slider>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="kalkulackaGroup.get('environment.q3')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom()">
            <div class="col-12">
              <h2 i18n>Odrazivost skel</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum. Vivamus condimentum eros vel purus fringilla gravida. Suspendisse potenti. Praesent non metus consectetur, suscipit odio at, faucibus nisl.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-12">
              <mat-slider min="0" max="20" step="1" value="10" formControlName="q4"></mat-slider>
            </div>
          </div>
          <div class="row align-items-center" *ngIf="true || kalkulackaGroup.get('environment.q4')!.valid" [@inAnimation] (@inAnimation.done)="scrollToBottom()">
            <div class="col-12">
              <h2 i18n>Průhled skrz budovu</h2>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="col-4">
              <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum. Vivamus condimentum eros vel purus fringilla gravida. Suspendisse potenti. Praesent non metus consectetur, suscipit odio at, faucibus nisl.
              </p>
            </div>
            <div class="col-4">
              <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
            </div>
            <div class="offset-4 col-4">
              <mat-slide-toggle formControlName="q5" name="q5">Průhled skrz budovu</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="row align-items-center text-center">
          <div class="col-12">
            <button mat-raised-button color="primary" [disabled]="kalkulackaGroup.invalid">Odeslat formulář</button>
          </div>
        </div>
      </form>
    -->
      <form [formGroup]="kalkulackaGroup" #ngForm="ngForm" *ngIf="showForm" [@inAnimation] (submit)="onSubmit()">
      <mat-vertical-stepper [linear]="true" #stepper>
        <div formGroupName="building">
          <mat-step>
            <ng-template matStepLabel i18n>Bezprostřední okolí budovy</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. 
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('building.q1')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q1"></mat-slider>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel i18n>Podíl zastavěného území</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('building.q2')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q2"></mat-slider>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel i18n>Údolí řeky</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('building.q3')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q3"></mat-slider>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel i18n>Vzdálenost k protější budově</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('building.q4')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q4"></mat-slider>
              </div>
            </div>
          </mat-step>
        </div>
        <div formGroupName="environment">
          <mat-step>
            <ng-template matStepLabel i18n>Celková plocha skleněných ploch</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('environment.q1')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q1"></mat-slider>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel i18n>Podíl skleněných ploch na fasádě</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('environment.q2')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q2"></mat-slider>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel i18n>Nepřerušená velikost skleněných ploch</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum. Vivamus condimentum eros vel purus fringilla gravida. Suspendisse potenti. Praesent non metus consectetur, suscipit odio at, faucibus nisl.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('environment.q3')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q3"></mat-slider>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel i18n>Odrazivost skel</ng-template>
            <div class="row align-items-center" *ngIf="kalkulackaGroup.get('environment.q3')!.valid">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum. Vivamus condimentum eros vel purus fringilla gravida. Suspendisse potenti. Praesent non metus consectetur, suscipit odio at, faucibus nisl.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('environment.q4')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-12">
                <mat-slider min="0" max="20" step="1" value="10" formControlName="q4"></mat-slider>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel i18n>Průhled skrz budovu</ng-template>
            <div class="row align-items-center">
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="col-4">
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. Nullam ornare sollicitudin ante vel bibendum. Integer suscipit tortor id ultrices rutrum. Curabitur non nunc id arcu elementum pulvinar id at augue. Nulla ut eros et ante faucibus interdum. Vivamus condimentum eros vel purus fringilla gravida. Suspendisse potenti. Praesent non metus consectetur, suscipit odio at, faucibus nisl.
                </p>
                <button mat-raised-button type="button" color="accent" (click)="nextStep(stepper)" [disabled]="kalkulackaGroup.get('environment.q5')!.invalid" i18n="next button|Next step in form">Další krok
                </button>
              </div>
              <div class="col-4">
                <img class="img-fluid rounded" src="https://via.placeholder.com/350x200">
              </div>
              <div class="offset-4 col-4">
                <mat-slide-toggle formControlName="q5" name="q5">Průhled skrz budovu</mat-slide-toggle>
              </div>
            </div>
          </mat-step>
        </div>
        <mat-step>
          <ng-template matStepLabel i18n>Odeslání formuláře</ng-template>
          <div class="row">
            <div class="col-12">
              <button mat-raised-button color="primary" [disabled]="kalkulackaGroup.invalid">Odeslat formulář</button>
            </div>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      </form>
      <div class="row" *ngIf="showResults" [@inAnimation]>
        <div class="col-6">
          <h2>Výsledky - prostředí</h2>
          <div class="row">
            <div class="col-8">
              <mwl-gauge
                id="buildingResults"
                [max]="100"
                [dialStartAngle]="140"
                [dialEndAngle]="40"
                [value]="results.building"
                [label]="gaugeLabel"
                [color]="gaugeColor"
                [animated]="true"
                [animationDuration]="2">
              </mwl-gauge>
            </div>
            <div class="col-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna.</p>
            </div>
          </div>
        </div>
        <div class="col-6 text-center">
          <h2>Výsledky - budova</h2>
          <div class="row">
            <div class="col-8">
              <mwl-gauge
                id="environmentResults"
                [max]="100"
                [dialStartAngle]="140"
                [dialEndAngle]="40"
                [value]="results.environment"
                [label]="gaugeLabel"
                [color]="gaugeColor"
                [animated]="true"
                [animationDuration]="2">
              </mwl-gauge>
            </div>
            <div class="col-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sodales nisi ac magna convallis dignissim. Maecenas id est nisi. Donec eleifend, tortor nec sodales convallis, purus diam ornare urna, a laoreet eros orci vitae odio. Mauris pharetra arcu ut diam accumsan, ut consequat metus lobortis. Quisque tristique orci a ex scelerisque lacinia ac nec magna. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>